[Unit]
Description=${app-name} service

[Service]
EnvironmentFile=/home/${deployment-user}/envs/${app-name}.env
ExecStart=${exec-start}
WorkingDirectory=/opt/deployedapps/${app-name}
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=${app-name}

